In [ ]:
what are you doing ?

In [1]:
def alternatingSums(a):
    return [sum(a[::2],sum(a[1::2]))]

In [2]:
a = [50, 60, 60, 45, 70]

In [3]:
alternatingSums(a)

[285]

In [4]:
def alternatingSums(a):
    b = sum(a[::2])
    c = sum(a[1::2])
    return [b,c]

In [5]:
alternatingSums(a)

[180, 105]

In [ ]:
CREATE PROCEDURE gradeDistribution()
BEGIN
    SELECT Name, ID FROM Grades
    WHERE Final > (Midterm1+Midterm2) / 2
    ORDER BY LEFT(Name, 3);
END

In [ ]:
/*Please add ; after each select statement*/
CREATE PROCEDURE mischievousNephews()
BEGIN
	SELECT WEEKDAY(mischief_date) AS weekday, mischief_date,
    author, title FROM mischief WHERE (author = "Huey") OR
    (author = "Dewey") OR (author = "Louie") ORDER BY weekday,
    Field(author, 'Huey', 'Dewey' ,'Louie'), mischief_date, title;
END

In [ ]:

import pandas as pd

foods = pd.Series(["Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Apples", "Potatoes", "Mangoes", "Fish",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",
                       "Bread", "Rice", "Steak", "Ham", "Chicken",])

groups_dict = {
    "Protein": ["Steak", "Ham", "Chicken", "Fish"],
    "Carbs": ["Bread", "Rice", "Apples", "Potatoes", "Mangoes"]
}

In [ ]:


def membership_map(pandas_series, groups_dict):
    groups = {x: k for k, v in groups_dict.items() for x in v}
    mapped_series = pandas_series.map(groups)
    return mapped_series
    
mapped_data = membership_map(foods, groups_dict)
print(list(mapped_data))

In [2]:
import pandas as pd

In [13]:
df = pd.DataFrame({'vertebrates': ['Bird', 'Bird', 'Mammal', 'Fish', 'Amphibian', 'Reptile', 'Mammal']})

df.vertebrates.astype("category").cat.codes

0    1
1    1
2    3
3    2
4    0
5    4
6    3
dtype: int8

In [14]:
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [16]:
vertebrate_types = ['Mammal', 'Reptile', 'Bird', 'Amphibian', 'Fish']

df['vertebrates'].astype("category").cat.codes

0    1
1    1
2    3
3    2
4    0
5    4
6    3
dtype: int8

TypeError: astype() missing 1 required positional argument: 'dtype'

In [18]:
pd.get_dummies(df, columns=['vertebrates'])

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

In [19]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

In [22]:
df.satisfaction.astype("category",
  ordered=True,
  categories=ordered_satisfaction
)

TypeError: astype() got an unexpected keyword argument 'ordered'

In [23]:
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [21]:
df.satisfaction.astype("category",
  ordered=True,
  categories=ordered_satisfaction
).cat.codes

TypeError: astype() got an unexpected keyword argument 'ordered'

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   satisfaction  4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [ ]:
df = df[df.value > 0 ]
df = df[df.column != 'value']

In [ ]:
df1 = df.groupby(["nationality"]).count().reset_index()

In [ ]:
df1 = df.groupby(["name", "nationality"]).count().reset_index()

In [ ]:
df1 = df.groupby(["name", "nationality"]).count().reset_index()

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
df['value'] = df['value'].apply(lambda x: float(x) if != "Not Available" else none)

In [ ]:
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

print (df)

In [ ]:
df.sort_values(by=['Brand'], inplace=True)

In [ ]:
# sort - ascending order
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort Brand - ascending order
df.sort_values(by=['Brand'], inplace=True)

print (df)

In [ ]:
df.sort_values(by=['Brand'], inplace=True, ascending=False)

In [ ]:
# sort - descending order
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort Brand - descending order
df.sort_values(by=['Brand'], inplace=True, ascending=False)

print (df)

In [ ]:
# sort by multiple columns
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort by multiple columns: Year and Brand
df.sort_values(by=['Year','Brand'], inplace=True)

print (df)

In [ ]:
1
import pandas as pd
2
import numpy as np
3
 
4
#Create a DataFrame
5
df1 = {
6
    'State':['zona AZ','Georgia GG','Newyork NY','Indiana IN','Florida FL'],
7
   'Score':[62,47,55,74,31]}
8
 
9
df1 = pd.DataFrame(df1,columns=['State','Score'])
10
print(df1)

In [ ]:
df1.replace(regex=['zona'], value='Arizona')

In [ ]:
df1.replace(regex=[' '], value='_')

In [ ]:
1
df1.replace(regex=['^.'],value='HE')

In [ ]:
# Code to get number of categories in missing value columns
print("Number of Categories in: ")
for ColName in DataFrame[['Embarked','Cabin_Serial','Cabin']]:
    print("{} = {}".format(ColName,       len(DataFrame[ColName].unique())))

In [ ]:
#1. Function to replace NAN values with mode value
def impute_nan_most_frequent_category(DataFrame,ColName):
    # .mode()[0] - gives first category name
     most_frequent_category=DataFrame[ColName].mode()[0]
    
    # replace nan values with most occured category
     DataFrame[ColName + "_Imputed"] = DataFrame[ColName]
     DataFrame[ColName + "_Imputed"].fillna(most_frequent_category,inplace=True)
#2. Call function to impute most occured category
for Columns in ['Embarked','Cabin_Serial','Cabin']:
    impute_nan_most_frequent_category(DataFrame,Columns)
    
# Display imputed result
DataFrame[['Embarked','Embarked_Imputed','Cabin_Serial','Cabin_Serial_Imputed','Cabin','Cabin_Imputed']].head(10)
#3. Drop actual columns
DataFrame = DataFrame.drop(['Embarked','Cabin_Serial','Cabin'], axis = 1)

In [ ]:
# Function to impute most occured category and add importance vairable
def impute_nan_add_vairable(DataFrame,ColName):
    #1. add new column and replace if category is null then 1 else 0
    DataFrame[ColName+"_Imputed"] =   np.where(DataFrame[ColName].isnull(),1,0)
    
    # 2. Take most occured category in that vairable (.mode())
    
    Mode_Category = DataFrame[ColName].mode()[0]
    
    ## 2.1 Replace NAN values with most occured category in actual vairable
    
    DataFrame[ColName].fillna(Mode_Category,inplace=True)
# Call function to impute NAN values and add new importance feature
for Columns in ['Embarked','Cabin_Serial','Cabin']:
    impute_nan_add_vairable(DataFrame,Columns)
    
# Display top 10 row to see the result of imputation
DataFrame[['Embarked','Embarked_Imputed','Cabin_Serial','Cabin_Serial_Imputed','Cabin','Cabin_Imputed']].head(10)

In [ ]:
X = df.iloc[:, :-1].values
print(X)b

2
3
4
5
[['Fitness' 'Male' 20 30000]
['Fitness' 'Female' 50 70000]
['Food' 'Male' 35 50000]
['Kitchen' 'Male' 22 40000]b
 
['Kitchen' 'Female' 30 35000]]

Y = df.iloc[:, -1].values
print(Y)

In [ ]:
In [1]: s = pd.Series(["a", "b", "c", "a"], dtype="category")

In [2]: s
Out[2]: 
0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [ ]:
In [3]: df = pd.DataFrame({"A": ["a", "b", "c", "a"]})

In [4]: df["B"] = df["A"].astype("category")

In [5]: df
Out[5]: 
   A  B
0  a  a
1  b  b
2  c  c

In [ ]:
In [6]: df = pd.DataFrame({"value": np.random.randint(0, 100, 20)})

In [7]: labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]

In [8]: df["group"] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)

In [9]: df.head(10)
Out[9]: 
   value    group
0     65  60 - 69

In [ ]:
In [10]: raw_cat = pd.Categorical(
   ....:     ["a", "b", "c", "a"], categories=["b", "c", "d"], ordered=False
   ....: )
   ....: 

In [11]: s = pd.Series(raw_cat)

In [12]: s
Out[12]: 
0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): ['b', 'c', 'd']

In [13]: df = pd.DataFrame({"A": ["a", "b", "c", "a"]})

In [14]: df["B"] = raw_cat

In [15]: df
Out[15]:

In [ ]:
In [17]: df = pd.DataFrame({"A": list("abca"), "B": list("bccd")}, dtype="category")

In [18]: df.dtypes
Out[18]: 
A    category
B    category
dtype: object

In [ ]:
In [19]: df["A"]
Out[19]: 
0    a
1    b
2    c
3    a
Name: A, dtype: category
Categories (3, object): ['a', 'b', 'c']

In [20]: df["B"]
Out[20]: 
0    b
1    c
2    c
3    d

In [ ]:
In [26]: from pandas.api.types import CategoricalDtype

In [27]: s = pd.Series(["a", "b", "c", "a"])

In [28]: cat_type = CategoricalDtype(categories=["b", "c", "d"], ordered=True)

In [29]: s_cat = s.astype(cat_type)

In [30]: s_cat
Out[30]: 
0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): ['b' < 'c' < 'd']

In [ ]:
In [31]: from pandas.api.types import CategoricalDtype

In [32]: df = pd.DataFrame({"A": list("abca"), "B": list("bccd")})

In [33]: cat_type = CategoricalDtype(categories=list("abcd"), ordered=True)

In [34]: df_cat = df.astype(cat_type)

In [35]: df_cat["A"]
Out[35]: 
0    a
1    b
2    c
3    a
Name: A, dtype: category
Categories (4, object): ['a' < 'b' < 'c' < 'd']b
    

In [36]: df_cat["B"]
Out[36]: 
0    b
1    c
2    c

In [ ]:
In [37]: splitter = np.random.choice([0, 1], 5, p=[0.5, 0.5])

In [38]: s = pd.Series(pd.Categorical.from_codes(splitter, categories=["train", "test"])

In [ ]:
In [39]: s = pd.Series(["a", "b", "c", "a"])

In [40]: s
Out[40]: 
0    a
1    b
2    c
3    a
dtype: object

In [41]: s2 = s.astype("category")

In [42]: s2
Out[42]: 
0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [43]: s2.astype(str)
Out[43]: 
0    a
1    b
2    c
3    a
dtype: object

In [44]: np.asarray(s2)
Out[44]: array(['a', 'b', 'c', 'a'], dtype=object)

In [ ]:
In [45]: from pandas.api.types import CategoricalDtype

In [46]: CategoricalDtype(["a", "b", "c"])
Out[46]: CategoricalDtype(categories=['a', 'b', 'c'], ordered=False)

In [47]: CategoricalDtype(["a", "b", "c"], ordered=True)
Out[47]: CategoricalDtype(categories=['a', 'b', 'c'], ordered=True)

In [48]: CategoricalDtype()

In [25]:

# List of Tuples 
students = [('Ankit', 22, 'A'), 
           ('Swapnil', 22, 'B'), 
           ('Priya', 22, 'B'), 
           ('Shivangi', 22, 'B'), 
            ] 
  
# Create a DataFrame object 
stu_df = pd.DataFrame(students, columns =['Name', 'Age', 'Section'],  
                      index =['1', '2', '3', '4']) 
  
# gives a tuple of column name and series 
# for each column in the dataframe 
for (columnName, columnData) in stu_df.iteritems(): 
    print('Colunm Name : ', columnName) 
    print('Column Contents : ', columnData.values)

Colunm Name :  Name
Column Contents :  ['Ankit' 'Swapnil' 'Priya' 'Shivangi']
Colunm Name :  Age
Column Contents :  [22 22 22 22]
Colunm Name :  Section
Column Contents :  ['A' 'B' 'B' 'B']

In [26]:
import pandas as pd  
  
  
# List of Tuples 
students = [('Ankit', 22, 'A'), 
           ('Swapnil', 22, 'B'), 
           ('Priya', 22, 'B'), 
           ('Shivangi', 22, 'B'), 
            ] 
  
# Create a DataFrame object 
stu_df = pd.DataFrame(students, columns =['Name', 'Age', 'Section'], 
                      index =['1', '2', '3', '4']) 
  
# Iterate over column names 
for column in stu_df: 
      
    # Select column contents by column 
    # name using [] operator 
    columnSeriesObj = stu_df[column] 
    print('Colunm Name : ', column) 
    print('Column Contents : ', columnSeriesObj.values)

Colunm Name :  Name
Column Contents :  ['Ankit' 'Swapnil' 'Priya' 'Shivangi']
Colunm Name :  Age
Column Contents :  [22 22 22 22]
Colunm Name :  Section
Column Contents :  ['A' 'B' 'B' 'B']

In [27]:
import pandas as pd 


# List of Tuples 
students = [('Ankit', 22, 'A'), 
		('Swapnil', 22, 'B'), 
		('Priya', 22, 'B'), 
		('Shivangi', 22, 'B'), 
			] 

# Create a DataFrame object 
stu_df = pd.DataFrame(students, columns =['Name', 'Age', 'Section'], 
					index =['1', '2', '3', '4']) 


# Iterate over the index range from 
# 0 to max number of columns in dataframe 
for index in range(stu_df.shape[1]): 
	
	print('Column Number : ', index) 
	
	# Select column by index position using iloc[] 
	columnSeriesObj = stu_df.iloc[:, index] 
	print('Column Contents : ', columnSeriesObj.values)

Column Number :  0
Column Contents :  ['Ankit' 'Swapnil' 'Priya' 'Shivangi']
Column Number :  1
Column Contents :  [22 22 22 22]
Column Number :  2
Column Contents :  ['A' 'B' 'B' 'B']

In [28]:
# importing pandas as pd 
import pandas as pd 

# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
		'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
		'score':[90, 40, 80, 98]} 

# creating a dataframe from a dictionary 
df = pd.DataFrame(dict) 

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [29]:
# importing pandas as pd 
import pandas as pd 

# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
		'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
		'score':[90, 40, 80, 98]} 

# creating a dataframe from a dictionary 
df = pd.DataFrame(dict) 

# iterating over rows using iterrows() function 
for i, j in df.iterrows(): 
	print(i, j) 
	print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [30]:
# importing pandas module 
import pandas as pd 
	
# making data frame from csv file 
data = pd.read_csv("nba.csv") 

# for data visulaization we filter first 3 datasets 
data.head(3) b# importing pandas module 
import pandas as pd 
	
# making data frame from csv file 
data = pd.read_csv("nba.csv") 

for i, j in data.iterrows(): 
	print(i, j) 
	print()

FileNotFoundError: [Errno 2] No such file or directory: 'nba.csv'

In [ ]:
# importing pandas module 
import pandas as pd 
	
# making data frame from csv file 
data = pd.read_csv("nba.csv") 

for i, j in data.iterrows(): 
	print(i, j) 
	print()

In [ ]:
# importing pandas as pd 
import pandas as pd 

# dictionary of lists 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"], 
		'degree': ["MBA", "BCA", "M.Tech", "MBA"], 
		'score':[90, 40, 80, 98]} 

# craeting a dataframe from a dictionary 
df = pd.DataFrame(dict) 

# using iteritems() function to retrieve rows 
for key, value in df.iteritems(): 
	print(key, value) 
	print()

In [ ]:
# importing pandas module 
import pandas as pd 
	
# making data frame from csv file 
data = pd.read_csv("nba.csv") 

for key, value in data.iteritems(): 
	print(key, value) 
	print()

In [ ]:
for idx, row in df.iterrows():
    if  df.loc[idx,'Qty'] == 1 and df.loc[idx,'Price'] == 10:
        df.loc[idx,'Buy'] = 1

In [ ]:
mask = (df['Qty'] == 1) & (df['Price'] == 10)
df.loc[mask, 'Buy'] = 1

In [ ]:
f['Buy'] = df['Buy'].mask(mask, 1)

In [ ]:
Or if you need if...else use numpy.where:

df['Buy'] = np.where(mask, 1, 0)

In [41]:
df = pd.DataFrame({'Buy': [100, 200, 50], 
                   'Qty': [5, 1, 1], 
                   'Name': ['apple', 'pear', 'banana'], 
                   'Price': [1, 'apple', 10]})

print (df)

   Buy  Qty    Name  Price
0  100    5   apple      1
1  200    1    pear  apple
2   50    1  banana     10

In [38]:
for idx, row in df.iterrows():
    #if  df.loc[idx,'Qty'] == 1 and df.loc[idx,'Price'] == 10:
        df.loc[idx,'Buy'] = 1
df

   Buy  Qty    Name  Price
0    1    5   apple      1
1    1    1    pear     10
2    1    1  banana     10

In [39]:
for idx, row in df.iterrows():
    #if  df.loc[idx,'Qty'] == 1 and df.loc[idx,'Price'] == 10:
        #df.loc[idx,'Buy'] = 1
        print(idx, row)

0 Buy          1
Qty          5
Name     apple
Price        1
Name: 0, dtype: object
1 Buy         1
Qty         1
Name     pear
Price      10
Name: 1, dtype: object
2 Buy           1
Qty           1
Name     banana
Price        10
Name: 2, dtype: object

In [40]:
for idx, row in df.iterrows():
    #if  df.loc[idx,'Qty'] == 1 and df.loc[idx,'Price'] == 10:
        df.loc[idx,'Buy'] = df[idx].str.replace('apple', 'pinapple')

        #print(idx, row)
        
df

KeyError: 0

In [42]:
for idx, row in df.iterrows():
    if df.loc[idx] == 'apple':
        print(df)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [43]:
for idx in df.index:
    q = df.get_value(idx, 'Qty')
    if q:
        p = df.get_value(idx, 'Price')
        if q == 1 and p == 10:
            df.set_value(idx, 'Buy', 1)

AttributeError: 'DataFrame' object has no attribute 'get_value'

In [44]:
for index, row in df.iterrows():
        if row.Qty and row.Qty == 1 and row.Price == 10:
            df.at[index,'Buy'] = 1

In [45]:
df

   Buy  Qty    Name  Price
0  100    5   apple      1
1  200    1    pear  apple
2    1    1  banana     10

In [ ]:
df_rep = df.replace(to_replace, value)

In [46]:
import pandas as pd

# sample dataframe
df = pd.DataFrame({'A': ['a','b','c'], 'B':['b','c','d']})
print("Original DataFrame:\n", df)

# replace b with e
df_rep = df.replace('b', 'e')
print("\nAfter replacing:\n", df_rep)

Original DataFrame:
    A  B
0  a  b
1  b  c
2  c  d

After replacing:
    A  B
0  a  e
1  e  c
2  c  d

In [47]:
import pandas as pd

# sample dataframe
df = pd.DataFrame({'A': ['a','b','c'], 'B':['b','c','d']})
print("Original DataFrame:\n", df)

# replace b with e
df_rep = df.replace({'A': 'b'}, 'e')

print("\nAfter replacing:\n", df_rep)

Original DataFrame:
    A  B
0  a  b
1  b  c
2  c  d

After replacing:
    A  B
0  a  b
1  e  c
2  c  d

In [48]:
import pandas as pd

# sample dataframe
df = pd.DataFrame({'A': ['tap','cap','map'], 'B':['cap','map', 'tap']})
print("Original DataFrame:\n", df)

# replace ap with op
df_rep = df.replace(to_replace='ap', value='op', regex=True)

print("\nAfter replacing:\n", df_rep)

Original DataFrame:
      A    B
0  tap  cap
1  cap  map
2  map  tap

After replacing:
      A    B
0  top  cop
1  cop  mop
2  mop  top

In [33]:
mask = (df['Qty'] == 1) & (df['Price'] == 10)


df['Buy'] = df['Buy'].mask(mask, 1)
df

   Buy  Qty    Name  Price
0  100    5   apple      1
1    1    1    pear     10
2    1    1  banana     10

In [35]:
import numpy as np
df['Buy'] = np.where(mask, 1, 0)
print (df)

   Buy  Qty    Name  Price
0    0    5   apple      1
1    1    1    pear     10
2    1    1  banana     10

In [ ]:
# Double = Double Sink
# Garbage = Garbage Disposal

# To none --> Sink Disposal 

# countertops: Quartz , tile , Granite slab,  tile

#Electric Range 
# GAs Range 

# Island

# APpliance Color : Stainless , Black

#pantry: Closet , Pantry

#Oven : None , electric , white

#microwaves: stainless 

#Laxy Susan

# Wet Bar

# Reverse OSmosis

#Compator

#Refigerator

In [ ]:
every lowercase alphabetic word
In [51]: pat = r"[a-z]+"

In [52]: def repl(m):
   ....:     return m.group(0)[::-1]
   ....: 

In [53]: pd.Series(["foo 123", "bar baz", np.nan], dtype="string").str.replace(
   ....:     pat, repl, regex=True

In [ ]:

In [355]: dfmi = pd.DataFrame([list('abcd'),
   .....:                      list('efgh'),
   .....:                      list('ijkl'),
   .....:                      list('mnop')],
   .....:                     columns=pd.MultiIndex.from_product([['one', 'two'],
   .....:                                                         ['first', 'second']]))
   .....: 

In [356]: dfmi
Out[356]: 
    one          two       
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [ ]:
n [357]: dfmi['one']['second']
Out[357]: 
0    b
1    f
2    j
3    n