In [1]:
#LSTM
#Web Scraping
#Tokenization in sentence
import pandas as pd

In [8]:
import chardet

import pandas as pd

with open(r'wars_trek.csv', 'rb') as f:

    result = chardet.detect(f.read()) # or readline if the file is large

df=pd.read_csv(r'wars_trek.csv',encoding=result['encoding'])

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 141756: character maps to <undefined>

In [ ]:
df

In [11]:
import pandas as pd

dataset=pd.read_csv('wars_trek.csv', encoding='ISO-8859–1')

In [12]:
dataset

       Value                                              Input
0          1  turmoil has engulfed the galactic republic the...
1          1               outlaying star systems is in dispute
2          1  hoping to resolve the matter with a blockade o...
3          1  greedy trade federation has stopped all shippi...
4          1                                              naboo
...      ...                                                ...
66456      0                       where no man has gone before
66457      0   she is moving out now passing camera and heading
66458      0  toward the distant stars she is beautiful and ...
66459      0    are beautiful and as she slowly disappears from
66460      0                                               view

[66461 rows x 2 columns]

In [6]:
war_trek = pd.read_csv(r'wars_trek.csv',  encoding='utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 125887: invalid start byte

In [39]:
war_trek_qoutes = pd.read_csv('war_trek_qoutes.csv',header=None, names=['Value','Input'], skipfooter=1)

<ipython-input-39-feb3792691dd>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  war_trek_qoutes = pd.read_csv('war_trek_qoutes.csv',header=None, names=['Value','Input'], skipfooter=1)

In [40]:
war_trek_qoutes

     Value                                              Input
0        0  Logic is the beginning of wisdom, not the end....
1        0                        “Highly illogical.” — Spock
2        0  “You can use logic to justify almost anything....
3        0   “I fail to comprehend your indignation, sir. ...
4        0   “You may find that having is not so pleasing ...
..     ...                                                ...
145      1  To me, watching Star Wars is like going to an ...
146      1  Star Wars is controversial, people either like...
147      1  Before I decided to commit myself to watch all...
148      1  People described it as Hope, Poetry, Joy, Lumi...
149      1  Which is a good thing because the last thing I...

[150 rows x 2 columns]

In [41]:
war_trek_with_append = pd.merge(dataset, war_trek_qoutes, how='outer')

In [42]:
war_trek_with_append

       Value                                              Input
0          1  turmoil has engulfed the galactic republic the...
1          1               outlaying star systems is in dispute
2          1  hoping to resolve the matter with a blockade o...
3          1  greedy trade federation has stopped all shippi...
4          1                                              naboo
...      ...                                                ...
66606      1  To me, watching Star Wars is like going to an ...
66607      1  Star Wars is controversial, people either like...
66608      1  Before I decided to commit myself to watch all...
66609      1  People described it as Hope, Poetry, Joy, Lumi...
66610      1  Which is a good thing because the last thing I...

[66611 rows x 2 columns]

In [45]:
war_trek_qoutes

     Value                                              Input
0        0  Logic is the beginning of wisdom, not the end....
1        0                        “Highly illogical.” — Spock
2        0  “You can use logic to justify almost anything....
3        0   “I fail to comprehend your indignation, sir. ...
4        0   “You may find that having is not so pleasing ...
..     ...                                                ...
145      1  To me, watching Star Wars is like going to an ...
146      1  Star Wars is controversial, people either like...
147      1  Before I decided to commit myself to watch all...
148      1  People described it as Hope, Poetry, Joy, Lumi...
149      1  Which is a good thing because the last thing I...

[150 rows x 2 columns]

In [43]:
dataset.shape

(66461, 2)

In [17]:
war_trek_qoutes.iloc[148]

0                                                                                                          1
Logic is the beginning of wisdom, not the end.” — Spock    Which is a good thing because the last thing I...
Name: 148, dtype: object

In [46]:
war_trek_with_append = dataset.to_csv('war_trek_with_append.csv')
quotes = war_trek_qoutes.to_csv('war_trek_quotes.csv')

## Get data

In [ ]:
# Install Kaggle library
!pip install -q kaggle
from google.colab import files
#upload the kaggle.json file you downloaded
uploaded = files.upload()
# make a diectoryin which kajggle.json is stored
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
#download the dataset into the colab(paste API command after !)
!kaggle datasets download -d lakshmi25npathi/imdb-dataset-of-50k-movie-reviews
#unzip the data
!unzip imdb-dataset-of-50k-movie-reviews.zip

## Libraries

In [ ]:
import numpy as np
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential, load_model
from keras.layers import Dense, Embedding, LSTM, Bidirectional,Flatten,Dropout
from sklearn.model_selection import train_test_split
from keras.utils.np_utils import to_categorical
import re

## Cleaning

In [ ]:
def remove_special_chars(tweets): # it unrolls the hashtags to normal words
 for remove in map(lambda r: re.compile(re.escape(r)), [“,”, “:”, “\””, “=”, “&”, “;”, “%”, “$”,
 “@”, “%”, “^”, “*”, “(“, “)”, “{“, “}”,
 “[“, “]”, “|”, “/”, “\\”, “>”, “<”, “-”,
 “!”, “?”, “.”, “‘“,
 “ — “, “ — -”, “#”]):
 tweets.replace(remove, “”, inplace=True)
 return tweets
def remove_tags(text):
 return re.compile(r’<[^>]+>’).sub(‘’, text)
def remove_num(text):
 return ‘’.join(re.sub(r”([0–9]+)”,””,text))
data = pd.read_csv('/content/IMDB Dataset.csv')
data.review=data.review.apply(lambda x : remove_tags(x))
data.review=data.review.apply(lambda x : remove_num(x))
remove_special_chars(data.review)
data.head()

## Word Embedding

In [ ]:
tokenizer = Tokenizer(num_words=5000,filters=’!”#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n’,lower=True,split=” “)
tokenizer.fit_on_texts(data[‘review’])
X = tokenizer.texts_to_sequences(data[‘review’])
X = pad_sequences(X,maxlen=500)
Y = data[‘sentiment’]
vocab_size = len(tokenizer.word_index) + 1
# We can then create our train and test sets:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state = 24)
#We store this tokenizer in a file to use later in web app
import pickle
# saving
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)
from sklearn.preprocessing import LabelEncoder
def prepare_targets(y_train, y_test):
 le = LabelEncoder()
 le.fit(y_train)
 y_train_enc = le.transform(y_train)
 y_test_enc = le.transform(y_test)
 return y_train_enc, y_test_enc
ytrain,ytest = prepare_targets(Y_train,Y_test)

## Design the Model 

BiLSTM

In [ ]:
model = Sequential()
model.add(Embedding(vocab_size, 50, input_length=500))
model.add(Bidirectional(LSTM(128)))
model.add(Dropout(0.5))
model.add(Dense(1,activation=’sigmoid’))
model.compile(optimizer=’adam’,
 loss=’binary_crossentropy’,
 metrics=[‘accuracy’])
model.summary()

## Train the model

In [ ]:
from keras.callbacks import EarlyStopping
es = EarlyStopping(monitor=’val_loss’, mode=’min’, verbose=1, patience=5)
history=model.fit(X_train, ytrain,
 batch_size=128,
 epochs=20,
 validation_data=[X_test, ytest],
 callbacks=[es])
#We save this model so that we can use in own web app
model.save('movie_sent.h5')

## Test with your own reviews:

In [ ]:
Test with your own reviews:

In [ ]:
string11=’’’Between the Lovecraftian overtones and Liberato’s performance, 
The Beach House offers up beautifully shot terror and will make you think before opening your door.’’’
x_1=tokenizer.texts_to_sequences([string11])
x_1 = pad_sequences(x_1,maxlen=500)
model.predict(x_1)
Output:
array([[0.9992687]], dtype=float32)
#the output is closer to 1 for positive review
#and closer to zero for negative review

In [ ]:
import streamlit as st
import pickle
from tensorflow.keras.models import load_model
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
def predict(message):
 model=load_model(‘movie_sent.h5’)
 with open(‘tokenizer.pickle’, ‘rb’) as handle:
 tokenizer = pickle.load(handle)
 x_1 = tokenizer.texts_to_sequences([message])
 x_1 = pad_sequences(x_1, maxlen=500)
 predictions = model.predict(x_1)[0][0]
 return predictions
st.title(“Movie Review Sentiment Analyzer”)
message = st.text_area(“Enter Review”,”Type Here ..”)
if st.button(“Analyze”):
 with st.spinner(‘Analyzing the text …’):
 prediction=predict(message)
 if prediction > 0.6:
 st.success(“Positive review with {:.2f} confidence”.format(prediction))
 st.balloons()
 elif prediction <0.4:
 st.error(“Negative review with {:.2f} confidence”.format(1-prediction))
 else:
 st.warning(“Not sure! Try to add some more words”)

## To run the script

In [ ]:
streamlit run sent_anaysis.py