In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from scipy.stats import multivariate_normal as mvn
from scipy.stats import multinomial as mlvn
from scipy.stats import bernoulli as brn
%matplotlib inline

In [2]:
train_data = np.load('kmnist-train-imgs.npz')['arr_0']
train_labels = np.load('kmnist-train-labels.npz')['arr_0']
test_data = np.load('kmnist-test-imgs.npz')['arr_0']
test_labels = np.load('kmnist-test-labels.npz')['arr_0']

In [3]:
x_train = train_data.reshape(-1, 784)
y_train = train_labels
x_test = test_data.reshape(-1, 784)
y_test = test_labels

In [4]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
y_test.shape

(60000, 784)
(60000,)
(10000, 784)

(10000,)

In [5]:
x_train[:,0].shape

(60000,)

In [ ]:
# making it normb

In [6]:
df_mapping =  pd.read_csv('kmnist_classmap.csv')
df_mapping

   index codepoint char
0      0    U+304A    お
1      1    U+304D    き
2      2    U+3059    す
3      3    U+3064    つ
4      4    U+306A    な
5      5    U+306F    は
6      6    U+307E    ま
7      7    U+3084    や
8      8    U+308C    れ
9      9    U+3092    を

In [7]:
x_train.shape

(60000, 784)

In [8]:
x_train[:,0].shape
# should learn that better please :)

(60000,)

In [10]:
#df_labels = #new_array = np.stack(x_train, y_train)
#new_array

df_labels = pd.DataFrame( {'index':y_train})

In [11]:
df_label_mapping = pd.merge(df_mapping,df_labels, how = 'left', on='index')
df_label_mapping

       index codepoint char
0          0    U+304A    お
1          0    U+304A    お
2          0    U+304A    お
3          0    U+304A    お
4          0    U+304A    お
...      ...       ...  ...
59995      9    U+3092    を
59996      9    U+3092    を
59997      9    U+3092    を
59998      9    U+3092    を
59999      9    U+3092    を

[60000 rows x 3 columns]

In [13]:
df_labels.value_counts()

index
0        6000
1        6000
2        6000
3        6000
4        6000
5        6000
6        6000
7        6000
8        6000
9        6000
dtype: int64

In [14]:
df_lm = df_label_mapping

In [18]:
class KNNClassifier():
    
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X, K, epsilon=1e-3):
        N= len(X)
        y_hat = np.zeros(N)
        
        for i in range(N):
            dist2=np.sum((self.X-X[i])**2, axis=1)
            idxt = np.argsort(dist2)[:K]
            gamma_k = 1/(np.sqrt(dist2[idxt])+epsilon)
            y_hat[i] = np.bincount(self.y[idxt], weights=gamma_k).argmax()

In [27]:
def main():
   
    knnInstance = KNNClassifier()
    knnInstance.fit(x_train[:, 0],y_train)
    
    #X_vis=np.random.uniform(-6,6, (int(N*10),D))
    y_hat_vis = knnInstance.predict(x_train[:, 0], 150)

In [32]:
x_train[:, 0].shape

(60000,)

In [35]:
df_union = pd.DataFrame({'x_train':x_train[:,0],'y_train':y_train})
df_union

       x_train  y_train
0            0        8
1            0        7
2            0        0
3            0        1
4            0        4
...        ...      ...
59995        0        4
59996        0        9
59997        0        0
59998        0        4
59999        0        9

[60000 rows x 2 columns]

In [36]:
df_.plot('x_train', 'y_train', kind='scatter')

NameError: name 'df' is not defined

In [ ]:
import numpy as np
import pandas as pd
x = np.random.randn(5)
y = np.sin(x)
df = pd.DataFrame({'x':x, 'y':y})
df.plot('x', 'y', kind='scatter')

In [ ]:
I like the idea that:
Class = we are all humans
we have the same blueprint
Class Human():
   def Hair():
   def Eyes():
   def Height():
   def Beard():
so we are all born with those features because we are all humans.

However, Jonatas and Jaime are different instances of human although we have the same blueprint.

Jonatas = Human()
Jaime = Human()

Jonatas.beard() = red
Jaime.beard() = black

In [34]:


knnInstance = KNNClassifier()
knnInstance.fit(x_train[:, 0],y_train)
knnInstance.predict(x_train, K=5)

ValueError: operands could not be broadcast together with shapes (60000,) (784,)