In [ ]:
SELECT authors.author_name, SUM(books.sold_copies) AS sold_sum
FROM authors
JOIN books
ON books.book_name = authors.book_name
GROUP BY authors.author_name
ORDER BY sold_sum DESC
LIMIT 3;

In [ ]:
SELECT *
FROM authors
JOIN books
ON books.book_name = authors.book_name;

In [ ]:
SELECT COUNT(*) FROM
  (SELECT user_id, COUNT(event_date_time) AS image_per_user
  FROM event_log
  GROUP BY user_id) AS image_per_user
WHERE image_per_user < 2000 AND image_per_user > 1000;

In [ ]:
SELECT department_name, AVG(salaries.salary) AS avg_salaries
FROM employees
JOIN salaries
ON employees.employee_id = salaries.employee_id
GROUP BY department_name
HAVING AVG(salaries.salary) < 500;

In [ ]:
SELECT *
FROM employees
JOIN salaries
ON employees.employee_id = salaries.employee_id

In [ ]:
SELECT project_name, tead_lead, income
FROM Projects
ORDER BY internal_id ASC;

In [ ]:
def isMonotonic(x):

In [ ]:
shallowcopy manulatted
copy.deepcopy =

In [ ]:
select * from countries
where continent = "Africa"
order by name ASC;

In [ ]:
self join
with an offset
193

In [ ]:
# Write your MySQL query statement below
Select per.Firstname, Per.lastname, Adr.City , Adr.State From Person AS per
LEFT Join Address AS adr
ON per.PersonID = Adr.PersonId

In [1]:
def first_bad_pair(sequence):
    """for loop for checking bad pairs. or returns -1 """
    for i in range(len(sequence)-1):
        if sequence[i] >= sequence[i+1]:
            return i
    return -1

def almostIncreasingSequence(sequence):
    """ checks a bad pair if I get a True its increasing 
    deleting a bad pair still true 
    deleting the later element makes true?
    """
    j = first_bad_pair(sequence)
    if j == -1:
        return True  # List is increasing
    if first_bad_pair(sequence[j-1:j] + sequence[j+1:]) == -1:
        return True  # Deleting earlier element makes increasing
    if first_bad_pair(sequence[j:j+1] + sequence[j+2:]) == -1:
        return True  # Deleting later element makes increasing
    return False  # Deleting either does not make increasing

In [2]:
some_seq = [1, 3 , 4 , 5 ,6]

In [3]:
almostIncreasingSequence(some_seq)

True

In [4]:
def makeArrayConsecutive2(statues):
    
    statues.sort()
    
    # set variables to go though the array
    first_ele = 0
    second_ele = 1
    
    
    # for itteration of the while loop
    last_thing = len(statues)-1
    
    # counter for differences in the array
    differences = 0
    
    while (first_ele <= last_thing -1) and (second_ele <= last_thing):
        
        if statues[second_ele] - statues[first_ele] > 1:
            differences += (statues[second_ele] - statues[first_ele] - 1)
            
        first_ele += 1
        
        second_ele += 1
        
        
    return differences

In [5]:
makeArrayConsecutive2(some_seq)

1

In [ ]:
SELECT Name as Customers 
FROM Customers 
LEFT JOIN

In [ ]:
for i in range(len(sequence)-1):
        if sequence[i] >= sequence[i+1]:
            return i
    return -1

In [ ]:
Data 
    X
    y
    
    Getting that 
    
    Build model  and test, tune
    
    Batch Training
    
    100

In [ ]:
ragged matrix 
ragged array
not square 

the shape is not uniform

In [ ]:
Intergrate shadow,